#container {
  display: grid;
  grid-template-columns: repeat(16, 50px);
  margin: auto;
  width: 50%;
}

.px {
  background-color: #ADD8E6;
  border: 1px solid black;
  height: 50px;
  width: 50px;
}
